<div class="container">
  <h2 class="title">You can enter your question below :</h2>
  <p>Ask your coach anything</p>

  <br>
  <form action="/answer" class="d-flex">
  <div class="px-2">
    <input type="text" name="question" placeholder="Enter your question" class="form-control">
  </div>
  <div class="px-2">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
  </form>
</div>
